<div class="overlay">
  <ul class="projects-menu">
    {% for item in site.data.projects %}
    {% capture image %}{{ item.image }}{% endcapture %}
    {% unless image contains 'http://' or image contains 'https://' %}
    {% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
    {% endunless %}
    <li>
      <a {% if item.url %} href="{{ item.url }}" {% endif %} {% unless item.completed %}class="active" {% endunless %}
        target="_blank" rel="nofollow external">
        {% if item.image %}
        <span>
          <img src="{{ image }}" style="width:100%; height:100%; opacity:.4">
        </span>
        {% endif %}
        <span>
          {{ item.title }}
          {% unless item.completed %}
          <br><em>in progress</em>
          {% endunless %}
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <canvas></canvas>
</div>