/* The alert message box */
.alert-custom {
    padding: 14px;
    background-color: #F0952E ;
    color: white;
    margin-bottom: 15px;
    opacity: 0.45;
    border-radius: 12px;
    font-weight: bold;
  }