---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <title>Projects</title>
  {% include head.html %}
</head>

<body>
  {% include nav.html %}
  <!-- Header -->
  <header class="header" role="banner">
  </header>
  {% include scripts.html %}

  {% include overlay.html %}
  <script src="{{ site.url }}/assets/js/wow.min.js"></script>
  <script type="text/javascript">(new WOW).init();</script>
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
  <canvas></canvas>
</body>
<script>
  $(document).ready(function () {
    $('.overlay').toggleClass('show');
  });
</script>

</html>